.vscode/
build/
bin/
*.o
*.data
/sob
package-lock.json
pnpm-lock.yaml
node_modules
docs/.vuepress/.temp
docs/.vuepress/.cache
docs/.vuepress/dist
node_modules/
docss/.vuepress/.cache/
docss/.vuepress/.temp/
docss/.vuepress/dist/

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/

# test
test/*_tests

# test log
test/tests.log
